body {
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.NavBar {
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color:black;
    justify-content: space-evenly;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-right: 2px solid white;
}

.NavBar li {
    list-style: none;
    padding: 10px 0;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.NavBar li:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #007BFF;
}

.NavBar li h3 {
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.NavBar li svg {
    margin-right: 10px;
    font-size: 1.5em;
}
