body{
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.botones{
    width: 100%;
   padding: 20px 10px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    margin:10px;
    padding: 10px 20px;
    border-radius: 20%;
    cursor: pointer;
}
.pantalla{
    text-align: center;
    width: 50%;
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}
.calculadora{
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
}
.separators{
    display: flex;
    flex-direction: column;
  
}

.boton{
        font-size: larger;
        border: none;
        color: black;
        padding: 14px 28px;
        cursor: pointer;
        border-radius: 5px;
        background-color: #9cadc0; /* Color base del botón */
        transition: box-shadow 0.3s ease-in-out; /* Transición suave del efecto de sombra */

}

.boton:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); /* Aumenta el desplazamiento y la opacidad de la sombra */
  }

h1{
    color: white;
  }